:root {
  /* https://atlassian.design/foundations/color-new/color-palette-new */
  --primary: #164555;
  --secondary: #50253f;

  --robot-1: #42b2d7; /* 500 & 700 */
  --robot-2: #227d9b;

  --robot-gradient: linear-gradient(to right, var(--robot-2), var(--neutral)),
    radial-gradient(circle, var(--robot-2), var(--robot-1));

  --android-1: #da62ac;
  --android-2: #ae4787;
  --android-gradient: linear-gradient(
      to right,
      var(--android-2),
      var(--neutral)
    ),
    radial-gradient(circle, var(--android-2), var(--android-1));

  --dark-1: #161a1d;
  --dark-2: #22272b;
  --dark-3: #101214;
  --darker: #0e0e0f;

  --neutral: #9fadbc;

  --white-1: #dee4ea;
  --white-2: #b6c2cf;

  --success: #1f845a;
  --error: #c9372c;

  --bordered: 2px solid var(var(--dark-1));
  --border-radius: 6px;

  --title-font: Arial, sans-serif;
  --text-font: Arial, sans-serif;
  --text-size: 18px;
}

body {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--dark-1);
  background-color: var(--darker);
  max-height: 100vh !important;
}

.hero-container {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: var(--dark-1);
  border: var(--bordered);
  border-radius: var(--border-radius);
  margin-top: 3vh;
  width: 80%;
  padding: 1vh 1vh;
}

.actions-container {
  margin: 0;
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.type-selector-container {
  margin: 0;
  width: 25%;
  justify-content: center;
  align-items: center;
  color: var(--white-1);
}

.actions-container > div {
  display: flex;
  flex-direction: column;
}

.selected-object-container {
  margin: 0;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  color: var(--white-1);
  margin-left: -1vh;
  border-left: 4px solid var(--dark-3);
}

.selected-actions {
  display: flex;
  flex-direction: column;
}

.selected-name-container {
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
  border: var(--bordered);
  border-radius: var(--border-radius);
  margin-inline: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

#selected-type {
  margin-right: 2vh;
}

.type-selector-container > button {
  display: block;
  width: 300px;
}

button {
  padding: 8px 16px;
  margin: 4px;
  border: var(--bordered);
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--dark-2);
  color: var(--white-1);
  font-family: var(--text-font);
  width: 250px;
}

#data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  gap: 5vh;
  margin-top: 5vh;
  min-height: 500px;
  height: 90%;
}

.robot-data-container {
  background: var(--robot-gradient);
}

.android-data-container {
  background: var(--android-gradient);
}

.robot-data-container,
.android-data-container {
  display: flex;
  width: 50%;
  border: var(--bordered);
  border-radius: var(--border-radius);
  max-height: 80%;
  overflow-y: auto;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  padding: 0vh 1vh;
}

.robot-data-container ul,
.android-data-container ul {
  max-height: 600px;
}

.object-element-container {
  display: flex;
  background-color: var(--dark-2);
  color: var(--white-1);
  min-width: 100%;
  border: var(--bordered);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.object-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.object-data-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

th {
  min-width: 100px;
}

.object-actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 1vh;
}

.see-object {
  min-height: 100%;
  border: var(--bordered);
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--dark-2);
  color: var(--white-1);
}

.no-show {
  opacity: 0;
}

.show-robot {
  background-color: var(--robot-2);
  transition: all ease-in-out 0.3s;
}

.show-android {
  background-color: var(--android-2);
  transition: all ease-in-out 0.3s;
}

.show-robot.show-android {
  background: linear-gradient(to right, var(--robot-2), var(--android-2));
  transition: all ease-in-out 0.3s;
}

#show-object {
  transition: all ease-in-out 0.3s;
}

@media (max-width: 900px) {
  #data-container {
    display: block;
  }
  .robot-data-container {
    width: 90%;
    margin: auto;
  }

  .android-data-container {
    width: 90%;
    margin: auto;
    margin-top: 5vh;
  }

  #robot-selector,
  #android-selector,
  button {
    width: 150px;
  }
}

.no-show {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#robot-selector:hover {
  background-color: var(--robot-2) !important;
}
#android-selector:hover {
  background-color: var(--android-2) !important;
}

#robot-selector.selected {
  background-color: var(--robot-2);
}
#android-selector.selected {
  background-color: var(--android-2);
}

button.hover-robot:hover {
  background-color: var(--robot-2);
}
button.hover-android:hover {
  background-color: var(--android-2);
}

#robot-selector,
#android-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

button > .fa-user,
button > .fa-robot {
  /* margin-left: 10vh; */
  margin-right: 3vh;
}

html {
  position: absolute;
  min-height: 100%;
  max-height: 100vh !important;
  min-width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 3vh 3vh;
}
li {
  margin: 3vh 0vh;
}

/* MODAL &  FORMS */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-1);
  color: var(--white-1);
  padding: 3vw;
  border: var(--bordered);
  border-radius: var(--border-radius);
}

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 5vw;
  cursor: pointer;
}

.form-title {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-2);
  border: var(--bordered);
  border-radius: var(--border-radius);
  padding: 1vh;
  margin-bottom: 2vh;
  background: var(--robot-gradient);
}

.form-title h1 {
  margin: 0;
}

.form-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vh;
}

.form-row {
  margin-bottom: 0;
  background-color: var(--dark-2);
  border: var(--bordered);
  border-radius: var(--border-radius);
  padding: 1vh;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
#edit-type {
  width: 95%;
  height: 5vh;
  border: var(--bordered);
  border-radius: var(--border-radius);
  padding-left: 1vh;
  margin-top: 1vh;
}

#name {
  color: var(--white-1);
}

#edit-type-robot,
#edit-type-android,
#type-robot,
#type-android {
  width: 95%;
  height: 5vh;
  border: var(--bordered);
  border-radius: var(--border-radius);
  padding-left: 1vh;
  margin-top: 1vh;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  border-color: var(--primary);
}

.form-action-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

#edit-item-create i,
#edit-item-update i,
#edit-item-reset i,
#create-item-create-btn i,
#create-item-update-btn i,
#create-item-reset-btn i {
  inherits: none;
  margin-top: 0;
  padding-top: 2vh;
  font-size: var(--text-size);
}

#info-modal-i {
  position: absolute;
  top: 8%;
  left: 5%;
  cursor: pointer;
}

#see-info-modal-icon {
  color: var(--neutral);
  font-size: xx-large;
}

#info-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-1);
  color: var(--white-1);
  padding: 3vw;
  border: 4px solid;
  border-image: linear-gradient(to right, var(--robot-2), var(--android-2)) 1;
  border-radius: var(--border-radius);
  display: none;
}

#info-modal.display-info-modal {
  display: block;
}

#info-modal-content {
  display: flex;
}

.info-modal-tittle {
  display: block;
  justify-content: space-between;
  align-items: center;
  border: var(--bordered);
  border-radius: var(--border-radius);
  background-color: var(--dark-2);
  padding-inline: 3vh;
  max-width: 50%;
}

a {
  color: var(--white-1);
  font-weight: 800;
}

.info-modal-title .close {
  display: inline-block !important;
  cursor: pointer;
}

.close:hover {
  rotate: 180deg;
  color: var(--error);
  transition: all ease-in-out 0.3s;
}

#action-result-logger {
  position: fixed;
  top: 5%;
  left: 40%;
  width: 20%;
  background-color: var(--dark-2);
  border-radius: var(--border-radius);
  color: var(--white-1);
  padding: 1vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#action-result-logger.display-action-result {
  opacity: 1;
  pointer-events: auto;
}

li i {
  margin-right: 1vh;
}

.success {
  border: 4px solid var(--success);
}

.error {
  border: 4px solid var(--error);
}

#action-result-content {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

::-webkit-scrollbar {
  background-color: var(--dark-2);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-1);
  border-radius: 50px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--dark-2);
}
